<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">

               <input (keyup)="buscarMedico(buscador.value)" class="form-control" type="text" #buscador placeholder="Ingrese nombre del hospital...">
      </div> 
    </div>
  </div>
</div>


<div class="row">
  <div class="col-12">
    <div class="card"> 
      <div class="card-body">
        <div align="right">
            <button class="btn-rounded btn-primary btn" [routerLink]="['/medico', 'nuevo']"> <i class="fa fa-plus"></i> Crear Medico</button>
        </div>
        <h3 class="card-title">Medicos registrados ( <small>{{totalRegistros}}</small> )</h3>
        <table class="table table-hover ">
              <thead>
                <tr>
                  <th>Imagen</th>
                  <th>Médico</th>
                  <th>Hospital</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let medico of medicos">
                  <td><img (click)="modificarImagen(hospital)" [src]="medico.img | imagen:'medico'" alt="" class="img-50 img-circle pointer"></td>
                  <td>{{medico.nombre}}</td>
                  <td>{{medico.hospital.nombre}}</td>
                 
                  <td>
                    <button [routerLink]="['/medico', medico._id]"  class="btn btn-success">
                        <i class="fa fa-edit"></i>
                    </button>
                    
                    <button (click)="eliminarMedico(medico)"  class="btn btn-danger">
                        <i class="fa fa-trash-o"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
             <button (click)="cambiarDesde(-5)" class="btn btn-secondary">
               Anterior
             </button>
             <button (click)="cambiarDesde(5)" class="btn btn-secondary">
               Siguiente
             </button>
      </div>
    </div>
  </div>
</div>