<div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
  
                 <input (keyup)="buscarHospital(buscador.value)" class="form-control" type="text" #buscador placeholder="Ingrese nombre del hospital...">
        </div> 
      </div>
    </div>
  </div>
  
  <div class="row" *ngIf="cargando">
    <div class="col-12">
      <div class="alert alert-warning text-center">
        <p>Cargando</p>
        <i class="fa fa-refresh fa-spin fa-2x"></i>
        <p>Espere por favor</p>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-12">
      <div class="card"> 
        <div class="card-body">
          <div align="right">
              <button class="btn-rounded btn-primary btn" (click)="crearHospital()"> <i class="fa fa-plus"></i> Crear Hospital</button>
          </div>
          <h3 class="card-title"> Hospitales registrados ( <small>{{totalRegistros}}</small> )</h3>
          <table class="table table-hover ">
                <thead>
                  <tr>
                    <th>Imagen</th>
                    <th>Nombre Hospital</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let hospital of hospitales">
                    <td><img (click)="modificarImagen(hospital)" [src]="hospital.img | imagen:'hospital'" alt="" class="img-50 img-circle pointer"></td>
                    <td><input type="text" name="nombreHospital" [(ngModel)]="hospital.nombre" class="form-control"></td>
                   
                    <td>
                      <button (click)="modificarHospital(hospital)"  class="btn btn-success">
                          <i class="fa fa-save"></i>
                      </button>
                      
                      <button (click)="eliminarHospital(hospital)"  class="btn btn-danger">
                          <i class="fa fa-trash-o"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
               <button (click)="cambiarDesde(-5)" class="btn btn-secondary">
                 Anterior
               </button>
               <button (click)="cambiarDesde(5)" class="btn btn-secondary">
                 Siguiente
               </button>
        </div>
      </div>
    </div>
  </div>